html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans';
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.container{
  width: 100%;
  float: left;
}
/* Navbar container */
.logo {
  position: absolute;
  margin:5px 8px;
  width: 36px;
  height: 36px;
  background: transparent url('./Images/logo.png') no-repeat;
  opacity: 1;
  background-size: cover;
}
.header {
  font-family: 'IBM Plex Sans';
  height: 52px;
  background: #000;
  position: relative;
}


.left-content {
  width: 49.7%;
  float: left;
  
}
.login_image{
  background: transparent url('./Images/bg_login_image.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  background-size: cover;
  height:700px;
  background-position: center;
}

.right-content {
  width: 50.2%;
  float: left;
}
.Container {
  margin:38px 16px;
}
.heading{
  margin:72px 0px 40px;
}
.heading p {
  font-size: 30px;
  font-weight:500;
  margin: 15px;
  font-family: 'IBM Plex Sans';
  
}
hr.top {
  border-bottom: 1.5px solid #6600FF;
}
hr.bottom{
  border: 1px solid #CDCBD1;
  top:42px;
}

hr.terms{
  border-bottom: 1.4px solid #6600FF;
  width:49%;
  float: left;
  margin-left: 15px;
}
.form-content{
  margin:50px 28px ;
  padding:5px;
}

/* semantic UI changes   */



.ui.form .field {
  clear: both;
  /* margin: 0 0 1em; */
  margin: 16px 0px;
}
.form-content .ui.form .field.field input:-webkit-autofill {
  box-shadow: 0 0 0 100px #F4F4F4 inset!important; 
  border-bottom: 1px solid #707070 !important;
  border:0 ;    
  border-radius: 0px !important;
}
.form-content .ui.form .field {
  clear: both;
  margin: 0px 0 36px;
}
.ui.form .field.error input:not([type]), .ui.form .field.error input[type=date],
.ui.form .field.error input[type=datetime-local], .ui.form .field.error input[type=email],
.ui.form .field.error input[type=file], .ui.form .field.error input[type=number], 
.ui.form .field.error input[type=password], .ui.form .field.error input[type=search], 
.ui.form .field.error input[type=tel], .ui.form .field.error input[type=text], 
.ui.form .field.error input[type=time], .ui.form .field.error input[type=url], 
.ui.form .field.error select, .ui.form .field.error textarea,
.ui.form .fields.error .field input:not([type]), .ui.form .fields.error .field input[type=date],
.ui.form .fields.error .field input[type=datetime-local],.ui.form .fields.error .field input[type=email],
.ui.form .fields.error .field input[type=file],.ui.form .fields.error .field input[type=number],
.ui.form .fields.error .field input[type=password],.ui.form .fields.error .field input[type=search],
.ui.form .fields.error .field input[type=tel], .ui.form .fields.error .field input[type=text],
.ui.form .fields.error .field select, .ui.form .fields.error .field textarea{
            font-family: 'IBM Plex Sans';
            font-weight:500 !important;
            font-size: 18px !important;
            color:#000 !important;
            box-shadow: 0 0 0 100px #F4F4F4 inset!important; 
            border-bottom: 1px solid #707070 !important;
            border:0 ;    
            border-radius: 0px !important;

          }
.form-content .ui.form .field.error label {
  color: #707070 !important;
  font-family: 'IBM Plex Sans';
  letter-spacing: 1.2px;
}
.form-content .ui.form input {
  box-shadow: 0 0 0 100px #F4F4F4 inset!important; 
  border-bottom: 1px solid #707070 !important;
  border:0 ;    
  border-radius: 0px !important;
  font-family: 'IBM Plex Sans';
  letter-spacing: 1.2px;
}
.form-content .ui.form .field .prompt.label {
  border:none !important;
  color: #6600ff !important;
  float: right;
  font-family: 'IBM Plex Sans';
  font-weight: 200;
}
.form-content .ui.pointing.label:before {
  display:none !important;
}
.form-content .ui.form .field>label{
  font-weight:600 !important;
  font-size: 14px;
}
.form-content .ui.pointing.label, .ui[class*="pointing above"].label{
  margin:0px !important;
}
.form-content .ui.purple.button, .ui.purple.buttons {
  background-color: #6600ff;
  border-radius: 0px;
  width:130px;
  height:50px;
  text-align: left !important;
  font-size: 16px;
  font-weight: 400;
  letter-spacing:1px;
}

.form-content .ui.purple.button:active, .ui.purple.buttons .button:active {
  background-color: #000;
  color: #fff;
  text-shadow: none;
}
.form-content .ui.purple.button:hover, .ui.purple.buttons .button:hover {
  background-color: #000;
  color: #fff;
  text-shadow: none;
}
.form-content p{
  font-family:'IBM Plex Sans';
  font-size: 14px;
  color:#45424B;
}
.form-content .ui.checkbox .box:before, .ui.checkbox label:before{
  height:24px !important;
  width:24px !important;
  border-radius: 0px !important;
}

.form-content .ui.checkbox .box:after, .ui.checkbox label:after {
  font-size: 24px !important;
  top: 5px !important;
  width: 24px !important;
  height: 24px !important;
}
.form-content .ui.checkbox .box, .ui.checkbox label{
  padding:3px 0px 0px 35px !important;
}
.body-content{
  margin:55px 45px ;
  padding:5px;
}
.body-content p{
  font-family:'IBM Plex Sans';
  font-size: 18px;
  font-weight:500;
  color:#45424B;
}
h2{
    margin: 30px 0 15px 50px !important;
    font-size: 28px !important;
    font-family: 'IBM Plex Sans' !important;
    font-weight: 500 !important;
}